<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Where Should I Go Today?</title>
</head>
<body>
    <header>
        <h1>Can’t decide where to eat tonight? Let us do the hard part!</h1>
        <p>Not sure where to go for dinner tonight?</p>
        <p>Choosing a restaurant from dozens of options can be a real challenge.
            Our website helps you quickly find a place that suits you.
            Tell us what you’re looking for, choose the kind of evening you want, and let us help you decide where to go.</p>
        <p>Less time deciding — more time enjoying!</p>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'places' %}">Places</a></li>
                <li><a href="{% url 'add_place' %}">Add Place</a></li>
            </ul>
        </nav>
    </header>
<footer>
        <hr>
        <p>&copy; 2026. НаУКМА. Антоній Половко. Ніякі права не захищені.</p>
    </footer>
</body>
</html>